.admin__container {
    text-align: center;
}

.admin-notify-nav {
    text-align: right;
}

.admin-notify-nav__link {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(transparent 75%, #3F5FED 75%);
}

@media screen and (max-width: 768px) {
    .admin-notify-nav {
        text-align: center;
    }
}

.admin__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}


.admin-form__item {
    margin-bottom: 32px;
}

.admin-form__item-input {
    display: block;
    padding: 8px 12px;
    margin: 0 auto;
    width: 30em;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #909090;
    background-color: #F2F2F2;
    color: black;
}

.btn {
    display: block;
    padding: 8px 60px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #3F5FED;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

/* 店舗代表者一覧 */
.shop-rep-list__content {
    margin-top: 100px;
}

.shop-rep-list__table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}

.shop-rep-list__row {
    border-top: 1px solid #909090;
    text-align: center;
    height: 70px;
}

.shop-rep-list__label,
.shop-rep-list__data {
    padding: 16px 8px;
}

.shop-rep-list__label:last-of-type,
.shop-rep-list__data:last-of-type {
    padding-right: 48px;
}

.shop-rep-list__label {
    color: #000;
    text-align: center;
    font-weight: bold;
}
