.admin__container {
    text-align: center;
}

.file::file-selector-button {
    border: 1px solid #909090;
    border-radius: 6px;
    padding: 0 50px;
    height: 30px;
    background-color: #fff;
}


.submit {
    border: 1px solid #5E7FEF;
    background-color: #5E7FEF;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    font-size: 16px;
    padding: 10px 45px;
    text-align: center;
}