.shop-rep-reservations__heading {
    display: flex;
    justify-content: center;
}

.info-link{
    box-sizing: border-box;
    display: inline-block;
    width: 35px;
    height: 30px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    box-shadow: 3px 3px 6px #0f030375;
    border-radius: 5px;
    padding: 0 10px;
    margin: 20px;
}

.message {
    text-align: center;
}

.reservations__table {
    width: 40%;
    height: 250px;
    background: #fff;
    margin: 0 auto 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #0f030375;
    color: black;
}

.reservations__ttl {
    font-weight: bold;
}

.reservations__header {
    padding: 10px;
}

.reservations__data {
    padding: 5px;
}
