.cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 300px;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #0f030375;
}

.cancel__inner {
    text-align: center;
}

.message {
    text-align: center;
}

.back_btn {
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #3F5FED;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

