body {
    background-color: #f2f2f2;
}

.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #3F5FED;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
    box-shadow: 3px 3px 6px #0f030375;
}

.header-menu-icon .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    margin: 10px;
}

.header-menu-icon .menu__link i {
    display: block;
    height: 1px;
    background-color: #fff;
}

.line-1 {
    width: 20px;
}

.line-3 {
    width: 10px;
}

.header__ttl {
    color: #3F5FED;
}

.search__content{
    margin: 0 0 0 auto;
}

.search-form {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

/* モーダル */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    border: 1px solid #8B7969;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
}

.modal__content {
    position: relative;
    padding: 64px 64px;
}

.modal-form__list {
    font-size: 20px;
    text-align: center;
}

.modal-form__list-item {
    padding: 20px;
}

.modal-form__list-item a {
    color: #3F5FED;
    text-decoration: none;
    padding: 15px;
}

.modal-form__list-item__button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    font: inherit;
    color: #3F5FED;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    width: 32px;
    height: 32px;
    color: #fff;
    background: #3F5FED;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 6px #0f030375;
    border-radius: 5px;
   
}
