.home__container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px;
}

.home__block {
    flex: 1 0 21%;
    /* 4つのカードが横に並ぶように調整 (比率：伸びる・縮む・基本サイズ)*/
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
}

.shop-detail__inner{
    display: flex;
}

.fa-solid::before {
    content: f004;
    font-size: 30px;
    padding: 25px;

}

.favorites-submit {
    border-style: none;
    background: none;
}

