.mypage-container {
    max-width: 1200px;
}

.heading {
    text-align: center;
}

.information__inner {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .information__inner, .reservation-done__inner{
        flex-direction: column;
        margin: 0 auto;
        width: 30em !important;
    }
}

.reservation-done__inner {
    width: 100%;
}

.reservation-done__not {
    padding: 20px 0;
}

/*予約状況 */
.reservation-done__table {
    background: #3F5FED;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #0f030375;
    color:#fff;
    position: relative;
    padding: 25px 36px;
    margin: 25px;
}

.reservation-done__table-inner {
    text-align: left;
}

.reservation-done__ttl::before {
    content: "";
    background: url(../icon/clock_icon.svg) no-repeat center;
    background-size: 31px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 25px;
}

.reservation-done__ttl {
    padding-bottom: 20px;
}

.reservation-done__label {
    padding-bottom: 10px;
}

.update-form__btn {
    width: 90%;
    border: 1px solid #5E7FEF;
    padding: 10px;
    background-color: #5E7FEF;
    color: #fff;
    text-decoration: none;
    margin: 5px 20px;
    font-size: 15px;
}

/* モーダル予約削除 */
.reservation-delete__btn {
    position: absolute;
    background: #3F5FED;
    top: 32px;
    right: 32px;
    width: 50px;
    height: 32px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    text-decoration: none;
}

.modal-delete-form__item {
    text-align: center;
}

.modal-delete__text {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.delete-info__table {
    width: 25em;
    height: 200px;
    background: #3F5FED;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #0f030375;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 25px;
}

.delete-info__label {
    text-align: right;
    padding: 15px;
}

.delete-info__data {
    text-align: left;
    padding: 15px;
}

.modal-delete__btn {
    padding: 10px 65px;
    border: 1px solid #ee7878;
    background-color: #ee7878;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    font-size: 16px;
}

.modal__close__btn {
    padding: 15px 60px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #9496a1;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}



/* 前日以前の案内〜当日QRコード発行〜評価 */
.review-done {
    text-align: center;
}

.paid-alert {
    text-align: center;
}

.check_in-alert {
    text-align: center;
    background-color: #d1e7dd;
    color: #0f5132;
}

.payment {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #5E7FEF;
    padding: 10px;
    background-color: #5E7FEF;
    color: #fff;
    margin: 0 26px;
}

.day-before__alert {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.7);
}

.qr-code {
    text-align: center;
}

.review {
    text-align: center;
}

.qr-code__alert {
    text-align: center;
}

.qr-code-form__btn {
    width: 85%;
    border: 1px solid #5E7FEF;
    padding: 10px;
    background-color: #5E7FEF;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
}

.review-form__btn {
    width: 85%;
    border: 1px solid #5E7FEF;
    padding: 10px;
    background-color: #5E7FEF;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
}

/* お気に入り店舗 */
.favorites-shop__container {
    width: 50%;
}

.favorites-shop__inner {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 25px;
}

@media screen and (max-width: 768px) {
    .favorites-shop__inner {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 20em;
        margin: 0 auto;
    }
}

.favorites-shop__block {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #0f030375;
}

.favorites-shop__img img {
    width: 100%;
    height: 165px;
    border-radius: 5px 5px 0 0;
}

.favorites-shop__card-content {
    margin: 20px;
}

.favorites-shop__card-ttl {
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
}

.favorites-shop__tag {
    margin: 5px;
    font-size: 12px;
}

.shop-detail__inner {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: block;
    padding: 5px 20px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #3F5FED;
    color: #FFF;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.favorites-submit {
    border-style: none;
    background: none;
}




