.mypage-container {
    max-width: 1200px;
}

.heading {
    text-align: center;
}

.information__inner {
    display: flex;
    justify-content: space-between;
    width: 100% ;
}

@media screen and (max-width: 768px) {
    .information__inner, .reservation-done__content,
        .favorites-shop__content, .review-form__btn, .qr-code-form__btn{
        flex-direction: column;
        width: 100% !important;
        margin: 50px;
    }
}

.reservation-done__content,
.favorites-shop__content {
    width: 50%;
}

.reservation-done__not {
    padding: 50px 145px;
}

.favorites-shop__not {
    padding: 50px 0;
}

/*予約状況 */
.reservation-done__table {
    width: 71%;
    background: #3F5FED;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #0f030375;
    color:#fff;
    position: relative;
    padding: 25px 36px;
    margin-bottom: 25px;
}

.reservation-done__table-inner {
    text-align: left;
}

.reservation-done__ttl::before {
    content: "";
    background: url(../icon/clock_icon.svg) no-repeat center;
    background-size: 31px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 25px;
}

.reservation-done__ttl {
    padding-bottom: 20px;
}

.reservation-done__label {
    padding-bottom: 10px;
}

.reservation-update__btn {
    padding: 8px 12px;
    border: 1px solid #5E7FEF;
    background-color: #5E7FEF;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px;
    text-align: center;
}

.reservation-update__alert {
    text-align: center;
    border-radius: 5px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 3px 30px;
}

/* モーダル予約変更 */
.modal-update-form__item {
    text-align: center;
}

label {
    font-weight: 100;
    color: black;
}

.modal-update-form__item__input {
    position: relative;
    padding: 8px 12px;
    min-width: 250px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
    font-weight: 100;
    margin: 20px;
}

.modal-update-form__item__input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: auto;
    height: auto;
    background: transparent;
}

.modal-update-form__item__input::after {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 12px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.modal-update__btn {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #3F5FED;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 20px;
}

/* 前日以前の案内〜当日QRコード発行〜評価 */
.review-done {
    text-align: center;
}

.check_in-alert {
    text-align: center;
    background-color: #d1e7dd;
    color: #0f5132;
}

.day-before__alert {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.7);
}

.qr-code {
    text-align: center;
}

.qr-code__alert {
    text-align: center;
}

.qr-code-form__btn {
    border: 1px solid #5E7FEF;
    padding: 10px 110px;
    background-color: #5E7FEF;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
}

.review-form__btn {
    border: 1px solid #5E7FEF;
    padding: 12px 110px;
    background-color: #5E7FEF;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
}

/* お気に入り店舗 */
.favorites-shop__container {
    width: 50%;
}

.favorites-shop__inner {
    display: grid;
    grid-template-columns: repeat(2, 42%);
    gap: 25px;
}

.favorites-shop__block {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 6px #0f030375;
}

.favorites-shop__img img {
    width: 100%;
    height: 165px;
    border-radius: 5px 5px 0 0;
}

.favorites-shop__card-content {
    margin: 20px;
}

.favorites-shop__card-ttl {
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
}

.favorites-shop__tag {
    margin: 5px;
    font-size: 12px;
}

.shop-detail__inner {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: block;
    padding: 5px 20px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #3F5FED;
    color: #FFF;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.favorites-submit {
    border-style: none;
    background: none;
}

.delete__btn {
    position: absolute;
    background: #3F5FED;
    top: 25px;
    right: 32px;
    width: 32px;
    height: 33px;
    border: 3px solid #FFF;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
}


