.review__heading {
    display: flex;
    justify-content: center;
}

.link {
    box-sizing: border-box;
    display: inline-block;
    width: 35px;
    height: 30px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    box-shadow: 3px 3px 6px #0f030375;
    border-radius: 5px;
    padding: 0 10px;
    margin: 20px;
}

.ttl {
    text-align: center;
}

.review-form {
    width: 60%;
    margin: 20px auto;
}

.review-form-item {
    padding: 24px 0;
    width: 100%;
}

.review-form-item__label {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.review-form-item__label-required {
    border-radius: 6px;
    margin-right: 8px;
    padding: 8px 0;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #fff;
    font-size: 14px;
}

.review-form-item__select {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding: 5px;
    width: 100%;
    background: #eaedf2;
    font-size: 18px;
}

.review-form-item__textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding: 0 10px;
    width: 100%;
    height: 150px;
    background: #eaedf2;
    font-size: 18px;
}

.review-modal__link {
    border-radius: 6px;
    margin: 32px auto 0;
    padding: 20px 0;
    width: 280px;
    display: block;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.review-modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.review-modal:target {
    visibility: visible;
    opacity: 1;
}

.review-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.review-modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 700px;
    border: 1px solid #8B7969;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
}

.review-modal__content {
    margin-top: 250px;
    text-align: center;
}

.review-modal__btn {
    border: 1px solid #5bc8ac;
    padding: 10px 50px;
    background-color: #5bc8ac;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    font-size: 15px;
}

.review-modal__close__btn {
    display: inline-block;
    border: 1px solid rgb(216, 194, 194);
    padding: 10px 40px;
    margin: 10px;
    background-color: rgb(216, 194, 194);
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
