.content__head--inner {
    text-align: center;
}

.email--form__submit {
    padding: 10px 10px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

.register--form__btn {
    padding: 5px 15px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #8cbaee;
    color: #FFF;
    cursor: pointer;
    margin: 0 10px;
}

.alert {
    text-align: center;
    border-radius: 5px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 3px 30px;
}